<div class="login">
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <p>
      <mat-error *ngIf="loginResult && !loginResult.success">
        <strong>ERROR</strong>: {{loginResult.message}}
      </mat-error>
    </p>

    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput formControlName="email" required placeholder="Insert email">
      <mat-error *ngFor="let error of getErrors(form.get('email')!, 'Email')">{{error}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input matInput type="password" formControlName="password" required placeholder="Insert Password">
      <mat-error *ngFor="let error of getErrors(form.get('password')!, 'Password')">
        {{error}}
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary" type="submit">
        Login
      </button>
      <button mat-flat-button type="button" color="secondary" [routerLink]="['/']">
        Cancel
      </button>
    </div>
  </form>
</div>
<br>
<div>
  <p style="justify-content: center;">
    Test Users that were seeded in the database:<br>
    Registered User: user&#64;email.com, Sampl3Pa$$_User,<br>
    Administrator: admin&#64;email.com, Sampl3Pa$$_Admin
  </p>
</div>
